.products-wrapper {
  padding-top: 98px;
  animation: slideUp 300ms linear;
  animation-delay: 150ms;
  @media (max-width: 991px) {
    padding-top: 68px;
  }
  @media (max-width: 480px) {
    padding-top: 52px;
  }
}
.categories {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  //padding: 16px;
  max-width: 960px;
  margin: 5px auto;

  @media (max-width: 768px) {
    padding: auto;
  }
  width: 98%;
  .category {
    min-height: 215px;
    min-width: 114px;
    flex-basis: calc(25% - 32px);
    -webkit-flex-basis: calc(25% - 32px);
    @media (max-width: 768px) {
      flex-basis: calc(33% - 16px);
      -webkit-flex-basis: calc(33% - 16px);
      margin: 2px auto;
    }
    @media (max-width: 480px) {
      flex-basis: calc(31% - 3px);
      -webkit-flex-basis: calc(31% - 3px);
      min-height: 110px;
      margin: 2px auto;
      .category-image{
        max-width: 114px;
        max-height: 114px;
      }
      .category-name {
        font-size: 12px;
        font-weight: bold;
      }
      .category-action {
        padding: 16px 8px;
      }
    }
    @media (max-width: 320px) {
      flex-basis: 100%;
      -webkit-flex-basis: 100%;
      margin: 2px auto;
    }
  }
}

.fadeIn-enter {
  opacity: 0.01;
}

.fadeIn-enter.fadeIn-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fadeIn-leave {
  opacity: 1;
}

.fadeIn-leave.fadeIn-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.category:nth-child(1) {
  transition-delay: 200ms;
}
.category:nth-child(2) {
  transition-delay: 200ms;
}
.category:nth-child(3) {
  transition-delay: 400ms;
}
.category:nth-child(4) {
  transition-delay: 600ms;
}
.category:nth-child(5) {
  transition-delay: 800ms;
}
.category:nth-child(6) {
  transition-delay: 1000ms;
}
.category:nth-child(7) {
  transition-delay: 1200ms;
}
.category:nth-child(8) {
  transition-delay: 1400ms;
}
.category:nth-child(9) {
  transition-delay: 1600ms;
}
.category:nth-child(10) {
  transition-delay: 1800ms;
}
.category:nth-child(11) {
  transition-delay: 2000ms;
}
.category:nth-child(12) {
  transition-delay: 2200ms;
}
.category:nth-child(13) {
  transition-delay: 2400ms;
}
.category:nth-child(14) {
  transition-delay: 2600ms;
}
.category:nth-child(15) {
  transition-delay: 2800ms;
}

// Loading
.category.loading {
  animation-duration: 600ms;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: contentLoader;
  animation-timing-function: linear;
  background: #f6f7f8;
  background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
  background-size: 1000px 104px;
  height: 200px;
  position: relative;
  overflow: hidden;
  .category-image {
    height: 168px;
    width: 168px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.25);
    @media (max-width: 768px) {
      width: auto;
    }
  }
  .category-text,
  .category-button {
    margin: 12px 16px;
    height: 16px;
    background: rgba(255, 255, 255, 0.25);
  }
  .category-button {
    position: absolute;
    bottom: 8px;
    width: 168px;
    height: 36px;
    @media (max-width: 768px) {
      width: auto;
    }
  }
}
@keyframes contentLoader {
  0% {
    background-position: -420px 0;
  }
  100% {
    background-position: 420px 0;
  }
}

.install-button{
  background: #1ab91d;
  color:white;
  margin: auto auto;
  font-size: 18px;
  &:hover {
    background: lighten(#148217, 12%);
  }
}
.iosAlarm{
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  max-width: 960px;
  margin: auto auto;
  height:80px;
  box-shadow: 0px 8px 18px rgba(0, 0, 0, 0.1);
  //button{
  //  margin: 14px auto;
  //  background: #2655ff;
  //  border-radius: 6px;
  //}
.caption-description-light{
  font-weight: 400;
  color: #aaa;
}
  .caption-description-hero{
    font-weight: 400;
    color: #6b6b6b;
  }
  .caption-description-title{
    line-height: 0;
    color: #000;
    font-weight: 500;
    font-size: 1.3em;
    text-align: right;
    margin-bottom: .7em;
    margin-top: 0;
  }

  .text{
    text-align: right;
    margin: 12px auto;
  }
  .img-logo{
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    height: 100%;
    img{
      margin: auto auto;
      height: 54px;
      width: 54px;
    }
  }
  .img-close{
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    height: 100%;

      img{
        margin: auto 6px;
        height: 24px;
        width: 24px;
      }
  }
  @media (min-width: 700px) {
    visibility: hidden;
    display: block;
  }

}

.iosAlarm-deactive{
  visibility: hidden;
  display: block;
}

.ios-dialog-top{

  margin-top: -1px;
  height: 6vh;
  background: #9929ef;
  color: white;
  width: 100%;
  display: flex;
  .page-title{
    margin: auto auto;
  }
}

.ios-guide{
  display: flex;
  flex-direction: column;
  margin-bottom: 70px;
}
.ios-dialog-content{

}

