header {
  background: #9929ef;
  padding: 25px 20px;
  box-shadow: 0px 8px 18px rgba(0, 0, 0, 0.033);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  animation: slideUp 300ms linear;
  min-height: 52px;
  .container {
    display: flex;
    display: -webkit-flex;
    max-width: 960px;
    padding: 0 32px;
    margin:1vh auto auto;
  }
  @media (max-width: 991px) {
    padding: 16px;
    .container {
      padding: 0;
    }
  }
  @media (max-width: 480px) {
    padding: 1.1vh 12px;

  }
}
@keyframes slideUp {
  0% {
    transform: translateY(30px);
    opacity: 0.5;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
// Logo
.brand .logo {
  width: 123px;
  @media (max-width: 480px) {
    width: 102px;
    margin: 2px 0;
  }
}

// Search Box
.search {
  display: inline-flex;
  margin-top:-.7vh;
  margin-left: 3vw;
  flex-grow: 1;
  -webkit-flex-grow: 1;
  @media (max-width: 767px) {
    margin-left: 32px;
  }
  @media (max-width: 480px) {
    flex-grow: initial;
    -webkit-flex-grow: initial;
   margin-left: 10px ;
  }
}
.search-form {
  display: flex;
  display: -webkit-flex;
  height: 100%;
  @media (max-width: 480px) {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 8px;
    background: #fff;
    z-index: 100;
    &.active {
      display: flex;
      display: -webkit-flex;
    }
  }
  .search-keyword {
    height: 36px;
    border: 1px solid #9929ef;
    padding: 0 16px;
    border-radius: 2px 0 0 2px;
    width: 100%;
    max-width: 330px;
    &:focus {
      outline: none;
    }
    font-family: iran-sans;
    margin: auto auto;
    direction: rtl;
    @media (max-width: 480px) {

    }
  }
  .search-button {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    border-radius: 0 2px 2px 0;
    background: #9929ef;
    width: 96px;
    height: 36px;

    img{
      vertical-align: center;
      horiz-align: center;
      margin: auto auto;
      height: 24px;
      width: 24px;
    }
    margin: auto auto;
    @media (max-width: 480px) {


    }
  }
}
@media (min-width: 481px) {
  .mobile-search{
    display: none;
  }
  .back-button {
    display: none;
    margin-top: 1vh;
    margin-left: 10px;
    margin-right: 10px;
    img{    margin-left: 10px;
      margin-right: 10px;
      height: 24px;
      width: 24px;
    }
  }
}
@media (max-width: 480px) {
  .mobile-search {
    display: block;
    margin-top: .8vh;
    margin-left: 10px;
    img{
      height: 24px;
      width: 24px;
    }
  }
  .back-button {
    display: block;
    margin-top: 1vh;
    margin-right: 8px;

    img{    margin-left: 5px;
      margin-right: 5px;
      height: 24px;
      width: 24px;
    }
  }
}

// Cart
.cart {
  display: flex;
  display: -webkit-flex;
  margin-left: 64px;
  position: relative;
  z-index: 99;
  @media (max-width: 991px) {
    margin-left: 16px;
  }
}
.cart-info {
  @media (max-width: 991px) {
    display: none;
  }
}
.cart-info table {
  font-size: 14px;
  color: #9929ef;
  text-align: right;
  tr {
    padding: 0;
    margin: 0;
  }
  td {
    padding: 0 4px;
    line-height: 16px;
  }
}
.cart-icon {
  margin-left: 16px;
  z-index: 99;
  position: relative;
}
.cart-count {
  @media (min-width: 992px) {
    display: none;
  }
  @media (max-width: 991px) {
    display: block;
    position: absolute;
    background: $primary-orange;
    height: 24px;
    line-height: 24px;
    text-align: center;
    font-size: 12px;
    color: #fff;
    width: 24px;
    border-radius: 50%;
    top: -6px;
    right: -9px;
  }
}
.cart-preview {
  display: none;
  background: $white;
  border: 1px solid $gray-eighty;
  &:before {
    content: "";
    position: absolute;
    display: block;
    top: -9px;
    right: 8px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid $gray-eighty;
    z-index: 1;
  }
  &:after {
    content: "";
    position: absolute;
    display: block;
    top: -7px;
    right: 9px;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid $white;
    z-index: 1;
  }
}
.cart-preview.active {
  z-index: 99;
  display: block;
  position: absolute;
  top: 48px;
  right: 0;
  width: 360px;
  height: 388px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  @media (max-width: 400px) {
    top: 45px;
    width: 100%;
    min-width: 300px;
    & > div {
      width: 100% !important;
    }
    .cart-items {
      width: 100%;
    }
    .stepper-input {
      a {
        display: none;
      }
    }
  }
}

.action-block {
  background: $white;
  position: absolute;
  bottom: 0;
  padding: 16px;
  width: 100%;
  button {
    background: $primary-orange;
    display: block;
    width: 100%;
    &.disabled {
      opacity: 0.3;
      cursor: not-allowed;
    }
  }
}
.empty-cart {
  text-align: center;
  img {
    width: 100%;
    max-width: 250px;
    margin: 42px auto 16px auto;
  }
  h2 {
    color: $gray-light;
    font-size: 18px;
  }
}
.cart-items {
  height: 320px;
  width: 360px;
}
.product-name-basket {
  direction: rtl;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  max-width: 350px;
  font-size: 14px;
  text-overflow: ellipsis;
  margin-right: .7vw;
  @media (max-width: 480px) {
    margin-right: 4vw;
  }
}
.cart-item {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  padding: 5px;
  .product-image {
    text-align: center;
    object-fit: scale-down;
    max-width:85px;
    max-height:85px;
    //width: auto;
    //height: auto;
    margin-right: 10px;
    width: 85px;
    height: 85px;
    margin-top: auto;
    object-fit: scale-down;
    margin: 0 auto;
  }
  .product-info {
    margin-left: 1px;
    flex-grow: 5;
    direction: rtl;
    text-align: left;
    .product-price {
      font-weight: 600;
    }
    .product-price-bf-discount{
      color: $gray-light;
      font-size: 14px;
      text-decoration: line-through;
    }
    .product-price-af-discount{

      color: $red;
      font-weight: 700;
    }
  }
  .product-total {
    margin-left: 16px;
    .quantity {
      color: $gray-light;
      font-size: 14px;
      text-align: right;
    }
    .amount {
      color: $gray-dark;
      font-weight: 700;
      font-size: 12px;
      text-align: right;
      &:before {
        content: "تومان";
      }
    }
  }

}

.basketListDetail {

    display: flex;
  flex-direction: column;

  .basketDetail {
    margin-top:.3vh;
    display: flex;

    .title {
      direction: rtl;
      margin-right: 1vw;
      font-size: 14px;
      @media (max-width: 480px) {
        margin-right: 5vw;
      }
    }

    .data {
      font-size: 16px;
      flex: 1;
      margin-left: 1vw;
      @media (max-width: 480px) {
        margin-left: 5vw;
      }
    }

  }
}

@keyframes tada {
  from {
    transform: scale3d(1, 1, 1);
    opacity: 0;
  }

  10%,
  20% {
    transform: scale3d(0.8, 0.66, 0.66) rotate3d(0, 0, 1, -3deg);
  }

  30%,
  50%,
  70%,
  90% {
    transform: scale3d(1.2, 1.2, 1.2) rotate3d(0, 0, 1, 3deg);
  }

  40%,
  60%,
  80% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  to {
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}

.tada {
  animation-name: tada;
  animation-duration: 300ms;
  animation-fill-mode: both;
}
.companyName{
  color: white;
  margin-left: auto;
  margin-right: 25px;
}
.basketProductOperations{
  display: flex;
  flex-direction: column;
  margin-left: .5vw;
  @media (max-width: 480px) {
    margin-left: 2vw;
  }
  .operand{
    flex: 2;

  }
  .counter{
    margin: auto;
    flex: 1;
  }
}
.basket-button{
  background:#9929ef;
  color:white;
  margin: 10px auto;
  min-width:90%;
  font-size: 18px;
  &:hover {
    background: lighten(#9929ef, 12%);
  }
}
.banner{
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  padding-top: 1px;
  padding-bottom: 6px;
  max-width: 960px;
  margin: 0 auto;
  width: 100%;

}

.delivery-detail{
  direction: rtl;
  background: #ffffff;
  width: 100%;
  text-align: center;
  padding: 2px;
  font-size: 14px;
  color: #141414;
  border: 0;
}
