.checkout-details{
  width: 100%;
  display: flex;

  margin: 1% 0;
}
.checkout-details-lines{

flex: 1;
}
.checkout-details-item{

  flex: 1;
}
.dialog-empty-cart{
  text-align: -webkit-center;
}
.dialog-header{
  margin-top: 10px;
  text-align: -webkit-center;
  font-size: 13px;
}
.dialog-header-success {
  min-height: 48px;
  direction: rtl;
    .img-logo{
      width: 100%;
      display: flex;
      display: -webkit-flex;
      flex-wrap: wrap;
      -webkit-flex-wrap: wrap;
      margin: auto auto;
    img{
      vertical-align: center;
      horiz-align: center;
      margin: auto auto;
      height: 48px;
      width: 48px;

  }}

}