html,
body,
ul,
ol {
  margin: 0;
  padding: 0;
  fontFamily:'iran-sans';
}


body {
  color: $gray-dark;
  font-weight: 800;
  background: $gray-light-bg;
  fontFamily:'iran-sans';
}
* {
  box-sizing: border-box;
  fontFamily:'iran-sans';
}
::selection {
  background: $primary-green;
  color: $white;
}
::-moz-selection {
  background: $primary-green;
  color: $white;
  text-shadow: none;
}
// Number Input Styles
input[type="number"] {
  -moz-appearance: textfield;
  margin: 0;
  fontFamily:'iran-sans';

}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
  fontFamily:'iran-sans';
}
// Searchbox Styles
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  fontFamily:'iran-sans';
}
strong {
  font-weight: 700;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  fontFamily:'iran-sans';
  margin: 0;
}
ul {
  list-style: none;
}
button {
  height: 36px;
  border-radius: 2px;
  text-align: center;
  color: $white;
  border: 0;
  font-weight: 400;
  padding: 0 16px;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  &:hover {
    background: lighten($primary-green, 10%);
  }
  &:focus {
    outline: none;
  }
  &:active {
    background: lighten($primary-green, 15%);
  }
  fontFamily:'iran-sans';
}

input,
select {
  font-size: inherit;
  fontFamily:'iran-sans';
}

form {
  margin: 0;
  fontFamily:'iran-sans';
}
.page-title-bar{
  margin-top: -1px;
  height: 8vh;
  background: #9929ef;
  color: white;
  width: 100%;
  display: flex;
  .page-title{
    margin: auto auto;
  }
  .page-close{
    margin: auto 0;
  }
  font-family: 'iran-sans';

}
.break {
  background: #2c2c2c;
  height: 1px;
  margin-top: 20px;
  width: 100%;
}

.highColor{
  color: red;
}
.lowColor{
  color: limegreen;
}
.loding-container{
  min-height: 95vh;
  flex-direction: column;
  display: flex;
img{
  margin-top: 25vh;
  margin-left: auto;
  margin-right: auto;
  height: 110px;
  width: 110px;
}
.text-hyper{
  margin-top: 1%;
  font-size: 11px;
  margin-left: auto;
  margin-right: auto;
}
}